body{
    margin: 0%;
    background-image: url(./portfolio\ background.jpg);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
header{
    display: flex;
    position: fixed;
    background-color: rgba(38, 28, 101, 0.523);
    color: rgba(0, 255, 255, 0.795);
    padding: 20px;
    box-shadow: 0,0,10,white;
    width: 100%;
}
.name-head{
    margin-left: 30px;
    display: inline-block;
    font-size: larger;
    font-weight: bold;
}
.contact{
    width: 400px;
    display: flex;
    margin-left: 900px;
    margin-right: 50px;
}
.contact a{
    flex-basis: 20%;
    text-decoration: none;
    color: rgba(0, 255, 255, 0.795);
    margin-left: 25px;
    transition: 0.25s;
}
.contact a:hover{
    font-size: large;
    
    color: white;
 
}
.info{
    display: inline-block;
    max-width: 600px;
    margin-left: 200px;
    margin-top: 200px;
}
.hireme{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    border: solid;
    border-color: rgba(0, 255, 255, 0.795);
    color: rgba(0, 255, 255, 0.795);
    cursor: pointer;
    font-weight: 600;
    margin-left: 200px;
    margin-top: 10px;
    transition: 0.25s;
}
.hireme:hover{
    color: rgb(38, 28, 101);
    background-color: rgba(0, 255, 255, 0.795);  
    
}
.visit{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    border: solid;
    border-color: rgba(0, 255, 255, 0.795);
    color: rgba(0, 255, 255, 0.795);
    cursor: pointer;
    font-weight: 600;
    transition: 0.25s;
    margin-left: 20px;
    margin-bottom: 10px;
}
.visit:hover{
    color: rgb(38, 28, 101);
    background-color: rgba(0, 255, 255, 0.795);  
    
}
.buttons{
    display: inline-block;
}
.Letstalk{
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    color: rgb(28, 20, 74);
    font-weight: 600;
    transition: 0.25s;
    cursor: pointer;
}
.Letstalk:hover{
    background-color: transparent;
    border: solid;
    border-color: white;
    color: white;
}
.card{
    margin-left: 50px;
    display: inline-block;
    grid-template-columns: 1fr;
    row-gap: 10px;
    width: 300px;
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    box-shadow: rgba(0, 255, 255, 0.795)(10 20 30);
} 
.project-grid{
    display: grid;
    margin-top:40px;
    margin-left: 200px;
    margin-right: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    
}
html{
    scroll-behavior: smooth;
    
}  
.contactinfo{
    display: inline-block;
    color: white;
    margin-left: 200px;
}
.contacthub{
    padding-top: 50px;
}
.download{
    width: 150px;
    height: 50px;
    background-color: rgba(0, 255, 255, 0.795);
    border-radius: 30px;
    color: rgb(28, 20, 74);
    font-weight: 700;
transition: 0.15s;
cursor: pointer;
}
.download:hover{
    transform:scale(1.025);
    background-color: transparent;
    border-radius: 30px rgba(0, 255, 255, 0.795);
    border: solid 2px ;
    color: rgba(0, 255, 255, 0.795);
    font-weight: 700;
}
.name{
    background-color: rgba(255, 255, 255, 0.722);
    border-radius: 30px rgba(0, 255, 255, 0.795);
    padding-left: 20px;

}
.name::placeholder{
    padding-left: 20px;
    color: rgb(28, 20, 74);
    font-size: 14px;
    
}
.name:focus{
    color: rgb(28, 20, 74);
    font-size: 20px;
  
}
.contacthub{
    display: grid;
    grid-template-columns: 500px 500px 200px;
    column-gap: 100px;
}
form{
    padding-top: 40px;
    display: inline-block;
}
.contactinfo{
    display: inline-block;
}
.submit{
    margin-top: 280px;  
    
}
#about{
    margin-top: 350px;
    padding-top: 50px;
    font-size: 10px;
}
#projectspace{
    margin-top: 100px;
    padding-top: 30px;
}
#contactspace{
    margin-top: 150px;
    padding-top: 200px;
    padding-bottom: 50px;
}
@media (max-width:421px){
    .contact {
        position: sticky;
        display: block;
        margin-top: 40px;
        margin-left: 0px;
        left: 10px;
    }
    .info{
        display: inline-block;
        width: 250px;
        margin-left: 50px;
        margin-top: 200px;
    }
    .Letstalk{
        margin-left: 196px;
        margin-top: 20px;
    }
    .project-grid{
        grid-template-columns: 1fr;
        margin-left: 30px;
    }
    hr{
        display: none;
    }
    #about{
        margin-top: 150px;
        padding-top: 20px;
        font-size: 10px;
    }
    #about p{
        font-size: 10px;
    }
    #projectspace{
        margin-top: 70px;
        padding-top: 30px;
    }
    #projectspace #phead{
        margin-left: 40px;
        font-size: 20px;
    }
    #contactspace .contactinfo{
        margin-top: 50px;
        padding-bottom: 400px;
        margin-left: 60px;
    }
    .name-head{
        margin-left: 30px;
        display: inline-block;
        font-size: larger;
        font-weight: bold;
        position: static;
    }

}
